body {
    
    background-image: url(./img/image.jpg);
}
.col-12{
    font-family: 'Bebas Neue', cursive;
}
.card{
    top: 25%;
}

.container {
    opacity: 0.9;
    height: 10em;
    position: relative;
    margin: 0;
    position: absolute;
top:20%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%); 
}
h2{
    /* font-family: 'Passion One', cursive; */
    /* font-family: 'Cookie', cursive; */
    font-family: 'Paytone One', sans-serif;

}
